/* =Variables ----------------------------------------------------------------------------- */
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(254, 81, 133, 0), rgba(254, 81, 133, 0.75), rgba(254, 81, 133, 0));
    margin-top:40px;
    margin-bottom:40px;
}
