@charset "UTF-8";
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

a {
	background-color: transparent
}

[type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
	outline: 1px dotted ButtonText
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

summary {
	display: list-item
}

[hidden] {
	display: none
}

:root {
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1
}

.animated {
	animation-duration: 1s;
	animation-duration: var(--animate-duration);
	animation-fill-mode: both
}

.animated.faster {
	animation-duration: .5s;
	animation-duration: calc(var(--animate-duration)/2)
}

@media (prefers-reduced-motion:reduce),
print {
	.animated {
		animation-duration: 1ms!important;
		transition-duration: 1ms!important;
		animation-iteration-count: 1!important
	}
	.animated[class*=Out] {
		opacity: 0
	}
}

@keyframes bounce {
	0%,
	20%,
	53%,
	to {
		animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		transform: translateZ(0)
	}
	40%,
	43% {
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		transform: translate3d(0, -30px, 0) scaleY(1.1)
	}
	70% {
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		transform: translate3d(0, -15px, 0) scaleY(1.05)
	}
	80% {
		transition-timing-function: cubic-bezier(.215, .61, .355, 1);
		transform: translateZ(0) scaleY(.95)
	}
	90% {
		transform: translate3d(0, -4px, 0) scaleY(1.02)
	}
}

@keyframes bounceInRight {
	0%,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		transform: translate3d(3000px, 0, 0) scaleX(3)
	}
	60% {
		opacity: 1;
		transform: translate3d(-25px, 0, 0) scaleX(1)
	}
	75% {
		transform: translate3d(10px, 0, 0) scaleX(.98)
	}
	90% {
		transform: translate3d(-5px, 0, 0) scaleX(.995)
	}
	to {
		transform: translateZ(0)
	}
}

@keyframes bounceOutRight {
	20% {
		opacity: 1;
		transform: translate3d(-20px, 0, 0) scaleX(.9)
	}
	to {
		opacity: 0;
		transform: translate3d(2000px, 0, 0) scaleX(2)
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.fadeIn {
	animation-name: fadeIn
}

@keyframes slideInUp {
	0% {
		transform: translate3d(0, 100%, 0);
		visibility: visible
	}
	to {
		transform: translateZ(0)
	}
}

@keyframes slideOutDown {
	0% {
		transform: translateZ(0)
	}
	to {
		visibility: hidden;
		transform: translate3d(0, 100%, 0)
	}
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: #2c3e50
}

::-webkit-scrollbar-thumb {
	background: #888
}

::-webkit-scrollbar-thumb:hover {
	background: #e8eef2
}

html {
	background: #494f5c;
	line-height: 1.6;
	letter-spacing: .06em;
	scroll-behavior: smooth
}

body {
	color: #e8eef2;
	font-family: trebuchet ms, Verdana, verdana ref, segoe ui, Candara, lucida grande, lucida sans unicode, lucida sans, Tahoma, sans-serif
}

a {
	color: #e8eef2;
	text-decoration: none;
	border: none;
	transition-property: color;
	transition-duration: .4s;
	transition-timing-function: ease-out
}

a:hover {
	color: #fff;
	text-shadow: 0 0 1px #fff
}

.section-inner {
	margin: 0 auto;
	max-width: 1200px;
	width: 93%
}

.thin {
	max-width: 720px;
	margin: auto
}

#site-header {
	position: fixed;
	z-index: 1;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	box-shadow: -1px -2px 3px rgba(0, 0, 0, .45);
	background-color: #3b3e48;
	animation-duration: .3s
}

#site-footer {
	text-align: center;
	font-size: .9em;
	margin-bottom: 96px;
	margin-top: 64px
}

#site-footer p {
	margin: 0
}

#home-title {
	margin: 0;
	text-align: center
}

#home-nav {
	opacity: .8
}

#home-nav a {
	display: block;
	text-align: center;
	margin-top: .5em
}

#home-footer {
	text-align: center;
	font-size: .6em;
	line-height: normal;
	opacity: .6
}

#home-footer p {
	margin-top: 0
}

.content a {
	word-wrap: break-word;
	border: none;
	box-shadow: inset 0 -4px 0 #018574;
	transition-property: box-shadow;
	transition-duration: .1s
}

.content a:hover {
	box-shadow: inset 0 -1em 0 #018574
}

.content ul {
	padding: 0;
	margin-left: 1.8em
}

@media (min-width:800px) {
	.site-main {
		margin-top: 3em
	}
}

@media (min-width:960px) {
	.site-main {
		margin-top: 3em
	}
}

@media (min-width:1300px) {
	.site-main {
		margin-top: 5em
	}
}

@media (min-width:1800px) {
	.site-main {
		margin-top: 6em
	}
	.section-inner {
		max-width: 1600px
	}
	.thin {
		max-width: 960px
	}
}

#site-header,
html {
	background: #fff
}

a,
body {
	color: #000;
	font-family: "Garamond", sans-serif
}

a {
	border-bottom: 3px solid transparent
}

a:hover {
	border-bottom: 3px solid #fe5185;
	color: #333
}

#home-title {
	font-size: 1.6em
}

h1,
h2,
h3 {
	font-family: Garamond, cursive
}

.content a:hover {
	background-color: #fe5185;
	box-shadow: inset 0 -4px 0 #fe5185
}

.content a {
	word-wrap: break-word;
	border: none;
	box-shadow: inset 0 -4px 0 #fe5185;
	transition-property: background-color
}

.page-item {
	margin: auto;
	padding: 1em
}

@font-face {
	font-family: chancery;
	src: url(https://lovrepesut.com/fonts/chancery/apple-chancery-webfont.eot);
	src: local("Apple Chancery"), url(https://lovrepesut.com/fonts/chancery/apple-chancery-webfont.eot?#iefix) format(embedded-opentype), url(https://lovrepesut.com/fonts/chancery/apple-chancery-webfont.woff2) format(woff2), url(https://lovrepesut.com/fonts/chancery/apple-chancery-webfont.woff) format(woff), url(https://lovrepesut.com/fonts/chancery/apple-chancery-webfont.ttf) format(truetype), url(https://lovrepesut.com/fonts/chancery/apple-chancery-webfont.svg#apple-chancery) format(svg);
	font-weight: lighter;
	font-style: normal;
	font-display: swap
}

html {
	font-family: "Garamond", sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block
}

[hidden] {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

svg:not(:root) {
	overflow: hidden
}

html {
	font-size: 16px;
	box-sizing: border-box
}

body {
	padding: 0;
	margin: 0;
	font-family: source sans pro, helvetica neue, Arial, sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
	color: #34495e;
	background: #fefefe;
	scroll-behavior: smooth;
	border-top: 3px solid #fe5185
}

@media screen and (max-width:800px) {
	body {
		border-top: 0
	}
}

::selection {
	background: #fe5185;
	color: #fff
}

a {
	color: #34495e;
	text-decoration: none
}

h1 {
	font-size: 26px;
	font-family: Athelas, STHeiti, Microsoft Yahei, serif
}

h2 {
	font-size: 24px;
	font-family: Athelas, STHeiti, Microsoft Yahei, serif
}

h3 {
	font-size: 20px;
	font-family: Athelas, STHeiti, Microsoft Yahei, serif
}

h4 {
	font-size: 16px;
	font-family: Athelas, STHeiti, Microsoft Yahei, serif
}

h5 {
	font-size: 14px;
	font-family: Athelas, STHeiti, Microsoft Yahei, serif
}

h6 {
	font-size: 14px;
	font-family: Athelas, STHeiti, Microsoft Yahei, serif
}

.container {
	margin: 0 auto;
	width: 800px
}

@media screen and (max-width:800px) {
	.container {
		width: 100%;
		box-shadow: -1px -5px 5px #cacaca
	}
}

.content-wrapper {
	padding: 0 20px
}

@font-face {
	font-family: iconfont;
	src: url(https://lovrepesut.com/fonts/iconfont/iconfont.eot);
	src: url(https://lovrepesut.com/fonts/iconfont/iconfont.eot#iefix) format(embedded-opentype), url(https://lovrepesut.com/fonts/iconfont/iconfont.woff) format(woff), url(https://lovrepesut.com/fonts/iconfont/iconfont.ttf) format(truetype), url(https://lovrepesut.com/fonts/iconfont/iconfont.svg#iconfont) format(svg);
	font-display: swap
}

.icon-twitter:before {
	content: "\e600"
}

.icon-link:before {
	content: "\e909"
}

.header {
	padding: 20px
}

.header:after,
.header:before {
	content: " ";
	display: table
}

.header:after {
	clear: both
}

.header .logo-wrapper {
	float: left
}

.header .logo-wrapper .logo {
	font-size: 48px;
	font-family: chancery, cursive, LiSu, sans-serif
}

@media screen and (max-width:800px) {
	.header .logo-wrapper {
		display: none
	}
}

.header .site-navbar {
	float: right
}

.header .site-navbar .menu {
	display: inline-block;
	position: relative;
	padding-left: 0;
	padding-right: 25px;
	font-family: Athelas, STHeiti, Microsoft Yahei, serif
}

.header .site-navbar .menu .menu-item {
	display: inline-block;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	backface-visibility: hidden;
	box-shadow: 0 0 1px transparent;
	position: relative;
	overflow: hidden
}

.header .site-navbar .menu .menu-item+.menu-item {
	margin-left: 10px
}

.header .site-navbar .menu .menu-item:before {
	content: '';
	position: absolute;
	z-index: -1;
	height: 2px;
	bottom: 0;
	left: 51%;
	right: 51%;
	background: #fe5185;
	transition-duration: .2s;
	transition-property: right, left;
	transition-timing-function: ease-out
}

.header .site-navbar .menu .menu-item:active:before,
.header .site-navbar .menu .menu-item:focus:before,
.header .site-navbar .menu .menu-item:hover:before {
	right: 0;
	left: 0
}

.header .site-navbar .menu .menu-item-link {
	font-size: 18px
}

@media screen and (max-width:800px) {
	.header .site-navbar {
		display: none
	}
}

@media screen and (max-width:800px) {
	.header {
		padding: 50px 0 0;
		text-align: center
	}
}

.footer {
	margin-top: 2em
}

.slideout-menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 180px;
	min-height: 100vh;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
	display: none
}

.slideout-panel {
	position: relative;
	z-index: 1;
	background-color: #fefefe;
	min-height: 100vh
}

.slideout-open,
.slideout-open .slideout-panel,
.slideout-open body {
	overflow: hidden
}

.slideout-open .slideout-menu {
	display: block
}

.mobile-navbar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #fefefe;
	box-shadow: 0 2px 2px #cacaca;
	text-align: center;
	transition: transform .3s ease;
	z-index: 99
}

.mobile-navbar .mobile-header-logo {
	display: inline-block;
	margin-right: 50px
}

.mobile-navbar .mobile-header-logo .logo {
	font-size: 22px;
	line-height: 50px;
	font-family: chancery, cursive, LiSu, sans-serif
}

.mobile-navbar .mobile-navbar-icon {
	color: #fe5185;
	height: 50px;
	width: 50px;
	font-size: 24px;
	text-align: center;
	float: left;
	position: relative;
	transition: background .5s
}

@keyframes clickfirst {
	0% {
		transform: translateY(6px) rotate(0)
	}
	100% {
		transform: translateY(0) rotate(45deg)
	}
}

@keyframes clickmid {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes clicklast {
	0% {
		transform: translateY(-6px) rotate(0)
	}
	100% {
		transform: translateY(0) rotate(-45deg)
	}
}

@keyframes outfirst {
	0% {
		transform: translateY(0) rotate(-45deg)
	}
	100% {
		transform: translateY(-6px) rotate(0)
	}
}

@keyframes outmid {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes outlast {
	0% {
		transform: translateY(0) rotate(45deg)
	}
	100% {
		transform: translateY(6px) rotate(0)
	}
}

.mobile-navbar .mobile-navbar-icon span {
	position: absolute;
	left: 15px;
	top: 25px;
	left: calc((100% - 20px)/ 2);
	top: calc((100% - 1px)/ 2);
	width: 20px;
	height: 1px;
	background-color: #fe5185
}

.mobile-navbar .mobile-navbar-icon span:nth-child(1) {
	transform: translateY(6px) rotate(0)
}

.mobile-navbar .mobile-navbar-icon span:nth-child(3) {
	transform: translateY(-6px) rotate(0)
}

.mobile-menu {
	background-color: rgba(248, 245, 236, .5)
}

.mobile-menu .mobile-menu-list {
	position: relative;
	list-style: none;
	margin-top: 50px;
	padding: 0;
	border-top: 1px solid #f8f5ec
}

.mobile-menu .mobile-menu-list .mobile-menu-item {
	padding: 10px 30px;
	border-bottom: 1px solid #f8f5ec
}

.mobile-menu .mobile-menu-list a {
	font-size: 18px;
	font-family: Athelas, STHeiti, Microsoft Yahei, serif
}

.mobile-menu .mobile-menu-list a:hover {
	color: #fe5185
}

@media screen and (max-width:800px) {
	.mobile-navbar {
		display: block
	}
}



/* Here goes addition for quotes... */


blockquote {
	clear: both
}

blockquote blockquote {
	margin: 1em 1px
}

.markdownBody blockquote blockquote:first-child {
	margin: .25em 1px 1em
}

.markdownBody blockquote>:last-child,
.markdownBody blockquote>:last-child>:last-child,
.markdownBody blockquote>:last-child>:last-child>:last-child,
.markdownBody blockquote>:last-child>:last-child>:last-child>:last-child {
	margin-bottom: 0
}

.markdownBody blockquote>:first-child,
.markdownBody blockquote>:first-child>:first-child,
.markdownBody blockquote>:first-child>:first-child>:first-child,
.markdownBody blockquote>:first-child>:first-child>:first-child>:first-child {
	margin-top: 0
}

.markdownBody blockquote>table:last-child,
.markdownBody blockquote>:last-child>table:last-child,
.markdownBody blockquote>:last-child>:last-child>table:last-child,
.markdownBody blockquote>:last-child>:last-child>:last-child>table:last-child {
	margin-bottom: .5em
}

.markdownBody blockquote>table:first-child,
.markdownBody blockquote>:first-child>table:first-child,
.markdownBody blockquote>:first-child>:first-child>table:first-child,
.markdownBody blockquote>:first-child>:first-child>:first-child>table:first-child {
	margin-top: .5em
}

blockquote p>code:first-child,
blockquote p>a:first-child code:first-child {
	border: none;
	background-color: transparent;
	font-weight: 700;
	font-family: inherit;
	padding: 0;
	font-size: inherit
}

blockquote table {
	font-size: .7em
}

.epigraph {
	margin: 2em auto;
	padding: .5em 2.5em .375em;
	overflow: hidden
}

.epigraph blockquote {
	--GW-blockquote-background-color: var(--GW-body-background-color);
	padding: 0;
	border: none;
	background-color: inherit;
	margin: 0;
	font-size: inherit;
	position: relative;
	z-index: 1;
	overflow: visible
}

.epigraph,
.epigraph blockquote {
	width: -moz-fit-content;
	width: fit-content
}

.epigraph p {
	font-style: italic;
	background-color: inherit
}

.epigraph p:first-child em,
.epigraph p:last-child {
	font-style: normal
}

.epigraph p:last-child {
	margin: .5em 0 0;
	text-align: right;
	font-size: .875em;
	text-indent: 0
}

.epigraph blockquote::before,
.epigraph blockquote::after {
	display: block;
	position: absolute;
	font-size: 2.6em;
	color: #fe5185
}

.epigraph blockquote::before {
	content: "\201C";
	left: -.975em;
	top: -.5em
}

.epigraph blockquote::after {
	content: "\201D";
	right: -.975em;
	bottom: -1em
}

@media only screen and (max-width:649px) {
	.epigraph {
		margin: 2.125em 1em;
		padding: 0;
		font-size: .95em;
		overflow: visible
	}
	.epigraph blockquote::before {
		left: -.375em;
		top: -.75em
	}
	.epigraph blockquote::after {
		right: -.375em;
		bottom: -1.25em
	}
	.epigraph+.epigraph {
		margin-top: 2.75em
	}
}

@media only screen and (min-width:650px) {
	h1+.epigraph,
	h3+.epigraph,
	h5+.epigraph {
		margin-top: 1.25em
	}
	h2+.epigraph,
	h4+.epigraph,
	h6+.epigraph {
		margin-top: 1em
	}
}

sub,
sup {
	line-height: .3em;
	font-feature-settings: 'lnum'
}